<html xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      py:strip="">


<!-- Menu bar for BioRepo -->
  <py:def function="mainmenu">
    <nav class="navbar" role="navigation">
        <div class="container">

        <div class="row">
          <p class="text-center">
            <img src="${tg.url('/images/headerbg.png')}" class="img-responsive" alt="Responsive image"></img>
          </p>
        </div>
        <div class="row">
        <!--<p class="text-center"> -->
          <span class="first"><a href="${tg.url('/')}" class="nav-justified ${('', 'active')[defined('page') and page=='index']}">Home</a></span>
          <span><a href="${tg.url('/search')}" class="nav-justified ${('', 'active')[defined('page') and page=='search']}">Search</a></span>
         <!-- <li><a href="${tg.url('/searchDub')}" class="${('', 'active')[defined('page') and page=='searchD']}">SearchD</a></li> -->
          
          <span><a href="${tg.url('/projects')}" class="nav-justified ${('', 'active')[defined('page') and page=='projects']}">My Projects</a></span>

            
            <span py:if="tg.auth_stack_enabled" py:strip="True">
              <span class="navbar-right">
	           <!-- <span py:if="request.identity" id="login" class="loginlogout"><a href="${tg.url('/users')}">Admin</a></span> -->
	           <span py:if="not request.identity" id="login" class="loginlogout"><a href="${tg.url('/login')}">Login</a></span>
	           <!--<span py:if="request.identity" id="login" class="loginlogout"><a href="${tg.url('/login/out')}">Logout ${session.current_lab}</a></span> -->
             <span py:if="request.identity" id="login" class="loginlogout"><a href="${tg.url('/login/out')}">Logout ${session.current_lab}</a></span>
              </span>
	           <span><a href="${tg.url('/samples')}" class="nav-justified ${('', 'active')[defined('page') and page=='samples']}">My Samples</a></span>
	           <span><a href="${tg.url('/measurements')}" class="nav-justified ${('', 'active')[defined('page') and page=='measurements']}">My Measurements</a></span>
             <span><a href="${tg.url('/trackhubs')}" class="nav-justified ${('', 'active')[defined('page') and page=='trackhubs']}">Trackhubs</a></span>
             <span><a href="${tg.url('/treeview')}" class="nav-justified ${('', 'active')[defined('page') and page=='treeview']}">Tree View</a></span>
	       <!-- -->
            </span>
        <!-- </p> -->
        </div>
      </div>  
    </nav>
  </py:def>


<!-- A simple form -->
  <py:def function="item_form">
    <h1><div py:replace="form_title"/></h1>
    <div py:replace="tmpl_context.form(value)">Input Form</div>
  </py:def>


  <!-- A simple item grid -->
  <py:def function="item_list(items)">
    
    <div class="crud_table">
      <a href='new' class="add_link">New $model</a>
      
      
      <div py:for="item in items">
	<div py:choose="item.grid_display">
	  
	<span py:when="True">
	  <h1><span py:replace="item.grid_title"/></h1>
	  <div py:content="item.grid(item.grid_data)"></div>
	</span>
	
	<span py:when="False">
	  <h1>No ${item.grid_title} found</h1>
	</span>
	
	</div>
      </div>
    </div>
      
      
  </py:def>


<!-- A simple item grid without model-->
<py:def function="item_list(items)">
    <div class="crud_table">
      <div py:for="item in items">
      <div py:choose="item.grid_display">

      <span py:when="True">
        <h1><span py:replace="item.grid_title"/></h1>
       <a href='../${tg.url(model)}s/new' class="add_link">New $model</a>
      <div py:content="item.grid(item.grid_data)"></div>
      <!-- <div py:content="item.grid.display(item.grid_data)"></div> -->
      </span>

      <span py:when="False">
       <a href='../${tg.url(model)}s/new' class="add_link">New $model</a>
        <h1>No ${item.grid_title} found</h1>
      </span>

      </div>
    </div>
  </div>

</py:def>

<py:def function="item_list_without_new(items)">
    <div class="crud_table">
      <div py:for="item in items">
      <div py:choose="item.grid_display">

      <span py:when="True">
        <h1><span py:replace="item.grid_title"/></h1>
        <div py:content="item.grid(item.grid_data)"></div>
      </span>

      <span py:when="False">
        <h1>No ${item.grid_title} found</h1>
      </span>

      </div>
    </div>
  </div>

</py:def>

  
</html>
