<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
  <title>BioRepo documentation</title>
</head>

<body>
  <div id="intro">
    <h1 align="center"> Developper documentation </h1>
  </div>

  <div id="summary">
    <ul>
      <li> <a href="#new_project">Create a new project from the command line</a></li>
      <li> <a href="#new_sample">Create a new sample from the command line</a></li>
      <li> <a href="#new_measurement">Create a new measurement from the command line</a></li>
      <li> <a href="#create_ext">How to create an exterior lab and exterior/gone user</a></li>
      <li> <a href="#add_lab">Add a lab to a specific user (only for EPFL users)</a></li>
      <li> <a href="#change_owner">Change ownership of one project and its sample(s)/measurement(s)</a></li>
      <li> <a href="#custom_searchgrid">Customize your search page</a></li>
      <li> <a href="#api">Use the BioRepo API</a></li>
    </ul>
  </div>
  <hr></hr>
  <h2>Projects</h2>
  <div id="new_project">
    <h3>Create a new project from the command line</h3>
    <p>Use the project's create() function :</p>
    <p><pre>wget --post-data "key=yourBioRepoKey&#38;mail=your.mail@epfl.ch&#38;lab=YourLab_id&#38;project_name=My Project&#38;description=This is my project" http://biorepo.epfl.ch/biorepo/projects/create/</pre></p>
    <p>The project's keys for each BioRepo lab are : <b>project_name</b> and <b>description</b>.</p>
  </div>
  <hr></hr>
  <h2>Samples</h2>
  <div id="new_sample">
    <h3>Create a new sample from the command line</h3>
    <p>Use the sample's create() function :</p>
    <p><pre>wget --post-data "key=yourBioRepoKey&#38;mail=your.mail@epfl.ch&#38;lab=YourLabName&#38;project_id=idOfTheSampleProject&#38;name=My Sample&#38;type=RNA-seq&#38;protocole=This is my protocole" http://biorepo.epfl.ch/biorepo/samples/create/</pre></p>
    <p>The common sample's keys for each BioRepo lab are : <b>project_id</b>, <b>name</b>, <b>type</b> and <b>protocole</b>.</p>
    <p>Others dynamics keys can exist for your lab, but you have to know them if you want to fill their fields by this method.</p>
  </div>
  <hr></hr>
  <h2>Measurements</h2>
  <div id="new_measurement">
    <h3>Create a new measurement from the command line</h3>
    <p>Use the measurement's create() function :</p>
    <p><pre>wget --post-data "key=yourBioRepoKey&#38;mail=your.mail@epfl.ch&#38;lab=YourLabName&#38;name=test&#38;description=yourdescription&#38;assembly=mm9&#38;path=/my/file.tgz&#38;samples=2" http://biorepo.epfl.ch/biorepo/measurements/create/</pre></p>
    <p>The common measurement's keys for each BioRepo lab are : <b>name</b>, <b>description</b>, <b>status_type</b> and <b>type</b>.</p>
    <p>Others dynamics keys can exist for your lab, but you have to know them if you want to fill their fields by this method.</p>
    <p>Your file can be linked by a path (/my/path/example/myFile.file) or a URL (http://www.example.com/myFile.file).</p>
    <p>If you use a path the key is <b>path</b>, whereas if you want to use a URL, you have two keys to fill : <b>url_path</b>(http://www.example.com/myFile.file) and <b>url_bool</b>(yes or no).</p>
    <p><i>url_bool=yes</i> means that you want to upload the file linked by the link into BioRepo. Contrariwise, it means you just want to keep the URL into BioRepo (<b>WARNING</b> : the file won't be upload into the database).</p> 

  </div>
  <hr></hr>
  <div id="create_ext">
    <h2>How to create an exterior lab and exterior/gone user :</h2>
      <p><i><b><u>Only an admin is allowed to build a new exterior lab and new exterior user(s).</u></b></i></p>
      <ol>
        <li><b>Create the lab :</b></li>
          <p>Use http://biorepo.epfl.ch/biorepo/create_ext_lab :<pre> wget --post-data "mail=admin.biorepo@epfl.ch&#38;key=xxxxxxxxxxx&#38;lab_name=bbcf" http://biorepo.epfl.ch/biorepo/create_ext_lab</pre></p>
        <li><b>Create the user(s):</b></li>
          <p>Use http://biorepo.epfl.ch/biorepo/create_gone_user :<pre> wget --post-data "key=xxxxxxxx&#38;mail=beta.testeur@epfl.ch&#38;lab_id=lab_id&#38;firstname=jean-michel&#38;name=michel&#38;user_mail=michel@epfl.ch »</pre></p>
        <li><b>Create the lab’s .ini conf file</b></li>
          <p>add the <i>NameOfTheLab.ini</i> file in <i>biorepo/conf/</i>. NameOfTheLab must be exactly the same than the lab name chosen in the <i>Create the lab</i> step. You can visualize a config file's example <a href="https://github.com/bbcf/biorepo/blob/master/biorepo/conf/default.ini">here</a>.</p>
        <li><b>Ask to one new created user to login</b></li>
        <li>Add the new lab into <i>/scripts/multi_upload.py</i> in <i>get_lab_id()</i> (<a href="https://github.com/bbcf/biorepo/blob/master/scripts/multi_upload.py#L149">visualize the method</a>)</li>
    </ol>

  </div>
  <hr></hr>
  <div id="tgz_create">
    <h2>Create from an archive (.tgz file)</h2>
    <p>Upload on the BioRepo's server : the archive which must contains the data.xls spreadsheet and the files to save into BioRepo.</p>
    <p>Please, use this command template to build your archive : <pre>tar -cvzf MyArchive.tgz data.xls MyFolderWithMyFiles/</pre></p>
    <p>Check your spreadsheet and your archive with /scripts/spreadsheet_checker.py : <pre>python spreadsheet_checker.py data.xls MyArchive.tgz</pre></p>
    <p>Then, run starter.py in biorepo/scripts/starter.py like this : <pre>python starter.py [myPath/archive.tgz] [user_mail] [user_key]</pre></p>
    <p>All your files are now saved into a BioRepo project.</p>
    <p><b>NB :</b> Each registred lab gets its own data.xls, you can download your <a href="https://github.com/bbcf/biorepo/tree/master/spreadsheets">here</a>.</p>

  </div>
  <hr></hr>
  <div id="add_lab">
    <h2>Add a lab to a specific user</h2>
    <p><i><b><u>Only an admin is allowed to do it.</u></b></i></p>
    <p>If an EPFL user has to interact with a lab which is not his, BioRepo admin can fix this pb.</p>
    <p>To do it you have to use the add_lab_4_user() method like this : </p>
    <p><pre>wget --post-data "mail=admin.mail@epfl.ch&#38;key=xxxxxxx&#38;user_mail=collaborator.mail@epfl.ch&#38;lab2add=LabNameToAddToTheUser" http://biorepo.epfl.ch/biorepo/add_lab_4_user</pre></p>
  </div>
  <hr></hr>
  <div id="change_owner">
    <h2>Change ownership of one project and its sample(s)/measurement(s)</h2>
    <p><i><b><u>Only an admin is allowed to do it.</u></b></i></p>
    <p>If you want to change the owner of one of your lab projects, BioRepo admin can fix this pb.</p>
    <p>To do it admin has to use change_project_owner() method like this : </p>
    <p><pre>wget --post-data "mail=admin.mail@epfl.ch&#38;key=xxxxxxx&#38;p_id=project's id (ex: 6)&#38;new_owner_id=new owner user_id(ex:12)" http://biorepo.epfl.ch/biorepo/change_project_owner</pre></p>
  </div>
  <hr></hr>
  <div id="custom_searchgrid">
    <h2>Search grid customization</h2>
    <p>You can choose your search buttons in your lab configuration file (.ini). Moreover, you can edit it at any moment.</p>
    <p>If you want to hide some fields, the changes have to be make in widget/datagrids.py.</p>
    <p>The administrator of BioRepo is the only one to be able to do this operations.</p>

  </div>
  <hr></hr>
  <h2>BioRepo API</h2>
  <div id="api">
    <h3>Get information about the projects from your lab(s)</h3>
      <p>Use http://biorepo.epfl.ch/biorepo/get_my_lab_projects :<pre> wget --post-data "mail=firstname.name@epfl.ch&#38;key=xxxxxxxxxxx" http://biorepo.epfl.ch/biorepo/get_my_lab_projects</pre></p>
      <p><b>mail</b> and <b>key</b> are respectively your login mail to BioRepo and your BioRepo key (ask it to the BioRepo administrator)</p>
      <p>Output generated is a JSON. Example :</p>
      <p><pre>{'lab':{'project id':{'name': "my_project_name", 'description': "my project description", "owner": "project owner name"}}}</pre></p>

    <h3>Get information about the sample(s) belonging to a project from your lab</h3>
      <p>Use http://biorepo.epfl.ch/biorepo/get_samples_from_project :<pre> wget --post-data "mail=firstname.name@epfl.ch&#38;key=xxxxxxxxxxx&#38;p_id=23" http://biorepo.epfl.ch/biorepo/get_samples_from_project</pre></p>
      <p><b>mail</b>, <b>key</b> and <b>p_id</b> are respectively your login mail to BioRepo, your BioRepo key (ask it to the BioRepo administrator) and the project ID from your project of interest. You can easily find this ID in the <a href="http://biorepo.epfl.ch/biorepo/projects">Projects page</a></p>
      <p>Output generated is a JSON. Example :</p>
      <p><pre>{"project id": [{"sample id": {"name": "my sample name", "type": "4C-seq", "protocole": "my sample protocole", "dynamic field": "my dynamic field, ..."}}, ...]}</pre></p>

    <h3>Get information about the measurement(s) belonging to a sample from your lab</h3>
      <p>Use http://biorepo.epfl.ch/biorepo/get_meas_from_sample :<pre> wget --post-data "mail=firstname.name@epfl.ch&#38;key=xxxxxxxxxxx&#38;s_id=112" http://biorepo.epfl.ch/biorepo/get_meas_from_sample</pre></p>
      <p><b>mail</b>, <b>key</b> and <b>s_id</b> are respectively your login mail to BioRepo, your BioRepo key (ask it to the BioRepo administrator) and the sample ID from your project of interest. You can easily find this ID in the <a href="http://biorepo.epfl.ch/biorepo/samples">Samples page</a></p>
      <p>Output generated is a JSON. Example :</p>
      <p><pre>{"sample id": [{"measurement id": {"name": "my measurement name", "status": "public/private", "type": "raw/processed", "description": "my description", "URL(only if public)": "http...", "dynamic field": "my dynamic field, ..."}}, ...]}</pre></p>

    <h3>Get all the Projects/Samples/Measurements fields registered for your lab</h3>
      <p>Use http://biorepo.epfl.ch/biorepo/get_my_fields :<pre> wget --post-data "mail=firstname.name@epfl.ch&#38;key=xxxxxxxxxxx" http://biorepo.epfl.ch/biorepo/get_my_fields</pre></p>
      <p><b>mail</b> and <b>key</b> are respectively your login mail to BioRepo and your BioRepo key (ask it to the BioRepo administrator)</p>
      <p>Output generated is a JSON. Example :</p>
      <p><pre>{"lab": {"Projects": [field1, field2], "Samples": [field1, field2, field3], "Measurements": [field1, field2, field3, field4]}}</pre></p>
  </div>
  <hr></hr>
  <div class="clearingdiv" />
  <!--<div class="notice"> Test in progress...
  </div> -->
</body>
</html>
