<html xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      py:strip="">
<py:def function="footer">
<div id="footer">
  <div class="foottext">
    <p><a href="https://github.com/bbcf/biorepo"><img src="http://biorepo.epfl.ch/biorepo/images/github-icon.png" title="BioRepo on GitHub" border="0" alt=""/></a><a href="http://bbcf.epfl.ch/"><img src="http://biorepo.epfl.ch/biorepo/images/BBCF-icon.png" title="BBCF" alt=""/><a href="http://www.turbogears.org/"><img src="http://biorepo.epfl.ch/biorepo/images/tg-icon.png" title="TurboGears" alt=""/></a></a><a href="http://www.vital-it.ch/"><img src="http://biorepo.epfl.ch/biorepo/images/vitalit-icon.png" title="Data storage on Vital-IT" alt=""/></a></p>
</div>
  <div class="clearingdiv"></div>
</div>
</py:def>
</html>
