<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
  <title>Welcome to BioRepo</title>
</head>

<body>
    
  <div id="getting_started">
    <h2>Version 1.0</h2>
    <p>This is the first version of BioRepo.</p>
    <p>Please read the <a href="http://biorepo.epfl.ch/biorepo/userdoc">documentation</a>.</p>
    <p>If you encounter a bug during your visit, please signal it to <a href="mailto:yoann.mouscaz@epfl.ch?subject=Bug with BioRepo">the admin</a>.</p>
    <p>Have a nice day with BioRepo !</p>
  </div>
  <div class="clearingdiv" />
  <!--<div class="notice"> Test in progress...
  </div> -->
</body>
</html>
