<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
  <title>General information about your selected measurement</title>
</head>

<body>
  <h1><center>General information about your selected measurement</center></h1>  
  <div id="projects">
  <h3>Project(s)</h3>
    <hr/>
    <py:for each="p in dico['projects']">
      <div id="p_element">
        <py:for each="key, value in p.iteritems()">
          <p><b>${key} :</b> <i>${value}</i></p>
        </py:for>
      </div>
    </py:for>
    <hr/>
  </div>
  <div id="samples">
    <h3>Sample(s)</h3>
    <hr/>
    <py:for each="s in dico['samples']">

      <div id="s_element">
      <py:for each="key, value in s.iteritems()">
          <p><b>${key} :</b> <i>${value}</i></p>
      </py:for>
    </div>
    </py:for>
    <hr/>
  </div>
  <div id="measurements">
    <h3><right>Measurements</right></h3>
      <hr/>
      <div id="m_element">
      <py:for each="key, value in dico['meas'].iteritems()">
          <tr>
          <p><b>${key} :</b> <i>${value}</i></p>
          </tr>
      </py:for>
    </div>
      <hr/>
  </div>
</body>
</html>