<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
  <title>BioRepo manual</title>
</head>

<body>
    
  <div id="intro">
    <h1 align="center">User manual</h1>
  <img src="/biorepo/images/users.gif" border="0" alt="" align="middle"/>
  <p align="center">Because you don't want to be this kind of user...</p>
  </div>
  <div id="summary">
    <ul>
      <li> <a href="#biorepo_prez">What is BioRepo ?</a></li>
      <li> <a href="#howto">How to use it</a></li>
      <li> <a href="#upload_ways">Different ways to upload your data</a></li>
      <li> <a href="#buttons_def">BioRepo's buttons</a></li>
      <li> <a href="#search_def">Search page</a></li>
    </ul>
  </div>
  <hr></hr>
  <div id="biorepo_prez">
    <h2>What is BioRepo ?</h2>
    <p>The rapid increase of genomics data generation, especially with the expansion of <b>High Throughput Sequencing</b> (HTS) technologies, brings biologists and bioinformaticians to find solutions to efficiently manage and store the resulting amount of data. <b>BioRepo</b> is a <b>Bio</b>logical data <b>Repo</b>sitory which addresses those needs. Similarly to a <b>Laboratory Information Management System</b> (<a href="http://en.wikipedia.org/wiki/Laboratory_information_management_system">LIMS</a>), its main goals are to store, to manage and to share data among collaborators, but also to allow their direct visualisation in genome browsers.</p>
  </div>

  <hr></hr>

  <div id="howto">
    <h2>How to use it</h2>
    <p>BioRepo offers a data-tracking system with a flexible architecture and a smart data exchange interface. This system is built on three levels : Project, Sample and Measurement.</p>
    <h3>Create your Project</h3>
    <p>This is the first logical step. See the Project's level as a big folder where you will store all your samples and data (measurements) in.</p>
    <p>The <a href="http://biorepo.epfl.ch/biorepo/projects">Projects page</a> is available for logged users. Here are listed all your personal created projects.</p>
    <p>To create a new one, you have to click on "<a href="http://biorepo.epfl.ch/biorepo/projects/new">New Project</a>" on the top left and to fill the fields that appear to you.</p>
    <p>You are allow to attach one or several sample(s) to your new project. Moreover, for your first project you will have to create it without any samples (because you have to create them, cf "Create your Sample").</p>
    <p><b><img src="/biorepo/images/warning.png" border="0" alt=""/> Warning : you can't attach the same sample to several projects at the same time. One sample is always linked to one and only one project.</b></p>
    <h3>Create your Sample</h3>
    <p>The Sample's level allows to save metadata of your experiments. The main metadata field (share by all the labs into BioRepo) here is the <b>type</b> of your sample (ex: ChIP-seq, RNA-seq, ChIP-chip, ...). Others fields, defined for your lab, can be filled by clicking on "<a href="http://biorepo.epfl.ch/biorepo/samples/new">New Sample</a>". You can watch your samples in the <a href="http://biorepo.epfl.ch/biorepo/samples">Samples page.</a></p>
    <p>A sample can contains one or several measurements.</p>
    <h3>Create your Measurement</h3>
    <p>Here is the final level : data level. By clicking on "<a href="http://biorepo.epfl.ch/biorepo/measurements/new">New Measurement</a>" in the <a href="http://biorepo.epfl.ch/biorepo/measurements">Measurements page</a> you will be inviting to upload a file into BioRepo. You will have to fill the differents fields for the metadata to facilitate your future search requests.</p>
    <p>A measurement can be attached to one or several samples.</p>
    <p><b>Privacy :</b>
      <ul>
        <li><b>public</b> measurement can be extracted out of BioRepo (UCSC, GViz, public download link, ...).</li>
        <li><b>private</b> measurement is only visible for your lab. It's impossible to extract it out of BioRepo without an access to <a href="http://en.wikipedia.org/wiki/Shibboleth_%28Internet2%29">Shibboleth</a> (Tequila for EPFL collaborators).</li>
      </ul>
    </p>
  </div>

  <hr></hr>

  <div id="upload_ways">
    <h2>Different ways to upload your data</h2>
      <p>You can upload your data into Biorepo from three different ways:</p>
      <ol>
        <li>From a <b>local file</b> on your harddisk</li>
        <li>From a <b>HTTP link</b></li>
        <li>From a <b>Vital-IT path</b></li>
      </ol> 
      <h3>Use the internet browser for file size &#60;200Mo</h3>
        <p>The HyperText Transfer Protocol (HTTP) includes limitations. Among these limitations, there is the response time to the server which can include a connection timed out error. To avoid it, please use the BioRepo browser version only for file size under 200 Mo.</p>
      <h3>Use the Excel spreadsheet for the rest</h3>
        <p>Each registred lab into BioRepo gets its Excel spreadsheet <a href="https://github.com/bbcf/biorepo/tree/master/spreadsheets">here</a>. Please download yours, fill it and send it back to your BioRepo administrator with the corresponding files in an archive.</p> 
        <p>The administrator gets access to the BioRepo's server and is allowed to upload data from this way.</p>
        <p>This upload way is useful to add a lot of files at once. Moreover, this saves time.</p>
  </div>

  <hr></hr>

  <div id="buttons_def">
  <h2>BioRepo's buttons</h2>
  <ul>
    <li><img src="/biorepo/images/pencil.png" border="0" alt=""/> Edit button : <i>to edit one of yours projects/samples/measurements</i></li>
    <li><img src="/biorepo/images/delete.png" border="0" alt=""/> Delete button : <i>to delete one of yours projects/samples/measurements</i></li>
    <li><img src="/biorepo/images/dl.png" border="0" alt=""/> Download button : <i>click to download the measurement of interest</i></li>
    <li><img src="/biorepo/images/public_dl.png" border="0" alt=""/> Public download button : <i>right click on it and select "copy the url", then paste it to your exterior collaborator</i></li>
    <li><img src="/biorepo/images/UCSC.png" border="0" alt=""/> UCSC button : <i>to visualise your genomic data on UCSC genome browser</i></li>
    <li><img src="/biorepo/images/gviz.png" border="0" alt=""/> Gviz button : <i>to visualise your BAM file. Gviz is an EPFL-BBCF genome browser</i></li>
    <li><img src="/biorepo/images/no_exit.png" border="0" alt=""/> Private button : <i>only visible when the measurement is in private mode</i></li>
    <li><img src="/biorepo/images/add.png" border="0" alt=""/> More info button : <i>more information about the measurement appear on clik</i></li>
  </ul>
  </div>

  <hr></hr>

  <div id="search_def">
  <h2>Search page</h2>
  <p>The <a href="http://biorepo.epfl.ch/biorepo/search">search page</a> is your best friend to recover an old data from an old experiment.</p>
  <p>To find a file with it you can use the search buttons customised for your lab on the top of the page. You can also use the free text search on the top-right of the grid.</p>
  <p>The grid is live-updated in function of your search request(s).</p>
  <p>It is possible to apply some actions in this page. You can select-by-click the measurement(s) of interest and :
    <ul>
      <li><img src="/biorepo/images/bluebutton.png" border="0" alt=""/> You can keep track of your measurements relations with this feature.</li>
      <li><img src="/biorepo/images/greenbutton.png" border="0" alt=""/> Only available for genomics data associated to the same assembly and with the same extension type. More information about UCSC trackhub <a href="http://bioinformatics.oxfordjournals.org/content/early/2013/11/30/bioinformatics.btt637.long">here</a>.</li>
      <li><img src="/biorepo/images/yellowbutton.png" border="0" alt=""/> BioRepo will generate the zip file and it will send to you a 24h available download link by mail.</li>
    </ul>
  </p>
  </div>

  <hr></hr>

  <div class="clearingdiv" />
  <!--<div class="notice"> Test in progress...
  </div> -->
</body>
</html>
