<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
    <xi:include href="header.html" />
    <xi:include href="definitions.html" />
    <xi:include href="sidebars.html" />
    <xi:include href="footer.html" />

  <!--<xi:include href="master.html" />-->
  <!--<xi:include href="definitions.html"/>-->

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
  <title>Treeview</title>
  <script type="text/javascript" src="${tg.url('/DataTables-1.9.4/media/js/jquery.js')}"></script>
  <link rel="stylesheet" type="text/css" media="screen" href="${tg.url('/css/bootstrap.min.css')}"/>
  <link rel="stylesheet" type="text/css" media="screen" href="${tg.url('/css/admin.css')}" />
  <link rel="stylesheet" type="text/css" media="screen" href="${tg.url('/css/style.css')}" />
</head>
<style>
#menu_items {
  padding:0px 12px 0px 2px;
  list-style-type:None
}
.node {
  cursor: pointer;
}

.node circle {
  fill: #fff;
  stroke: darkcyan;
  stroke-width: 1.5px;
}

.node text {
  font: 13px sans-serif;
}

.link {
  fill: none;
  stroke: darkcyan;
  stroke-width: 1px;
}

.ghostCircle.show{
    display:block;
}

.ghostCircle, .activeDrag .ghostCircle{
     display: none;
}

</style>
<body>
    ${header()}
    ${mainmenu()}
  <script>
    var dico_final = ${data};
  </script>

  
  <div id="tree-container"></div>
  ${footer()}
</body>
<script type="text/javascript" src="${tg.url('/d3.v3/d3.v3.js')}"></script>
<script type="text/javascript" src="${tg.url('/javascript/test.js')}"></script>
</html>