/* Other and footer */
/*#footer {
	background: #fff;
	padding-left: 26px;
	color:#888888;
	font-size:90%;
    margin-left:-33px;
    margin-top:16px;
    float:left;
}*/
/*.flogo {
	float:left;
	margin-bottom:0px;
	padding-left:20px;
	padding-right:20px;
	padding-top:0px;
}
.foottext p {
	margin: 0; padding: 0;
}*/
/*.code {
font-family:monospace;
font-size:127%;
}
span.code {
background:#EEEEEE none repeat scroll 0% 0%;
font-weight:bold;
}*/
#flash, .notice {
font-size:120%;
font-weight:bolder;
margin:0pt auto 0.5em;
width:680px;
}
#flash div, .notice {
padding:20px 15px 20px 65px;
}
#flash .ok {
background:#d8ecd8 url(../images/ok.png) no-repeat scroll 10px center;
}
#flash .warning {
background:#fff483 url(../images/warning.png) no-repeat scroll 10px center;
}
#flash .error {
background:#f9c5c1 url(../images/error.png) no-repeat scroll 10px center;
}
#flash .alert,
#flash .info {
background:#EEEEFF url(../images/info.png) no-repeat scroll 10px center;
}
.notice {
background:#EEEEFF url(../images/info.png) no-repeat scroll 10px center;
}
.fielderror {
color:red;
font-weight:bold;
}
div.clearingdiv {
clear:both;
}

/*tr.row_selected {
    border : ridge 4px darkcyan;
    color : firebrick;
}*/

tr.odd.row_selected {
    color : firebrick;
    background-color: #9FAFD1;
}


tr.even.row_selected {
    color : firebrick;
    background-color: #B0BED9;
}

/* Search Bar googlelike */
div.dataTables_filter {
    float:right;
    padding: 0px 0px 3px 0px;
}

/* entries number */
div.dataTables_length {
    max-width: 150px;
}

div.dataTables_info {
    float:right;
    padding:10px;
}


/* row highlight grid css */

.grid tbody tr.even:hover, #example tbody tr.even td.highlighted {
    background-color: #B0E0E6;
}

.grid tbody tr.odd:hover, #example tbody tr.odd td.highlighted {
    background-color: #B0E0E6;
}

.grid tr.even:hover {
    background-color: #B0E0E6;
}

.grid tr.even:hover td.sorting_1 {
    background-color: #B0E0E6;
}

.grid tr.even:hover td.sorting_2 {
    background-color: #B0E0E6;
}

.grid tr.even:hover td.sorting_3 {
    background-color: #B0E0E6;
}

.grid tr.odd:hover {
    background-color: #B0E0E6;
}

.grid tr.odd:hover td.sorting_1 {
    background-color: #B0E0E6;
}

.grid tr.odd:hover td.sorting_2 {
    background-color: #B0E0E6;
}

.grid tr.odd:hover td.sorting_3 {
    background-color: #B0E0E6;
}

/* submit button */
div.buttons{
    float: left;
    text-align:left;
}

/*form .buttons{
    clear:left;
}*/

div.dataTables_buttons{
    padding: 0;
    width: 55%;
}

div.column-filter-widgets{
    position: static;

}

div.column-filter-widget{
    padding: 2px;
    padding-bottom: 20px;
}

div.column-filter-widget > select{
    max-width: 135px;
}

/*div.dataTables_paginate{*/
    /*padding: 0px;*/
    /*width: 55%;*/
/*}*/

/*div.paging_forward_enabled_button{*/
    /*padding: 0px;*/
    /*width: 55%;*/
/*}*/

/* test */

/*div.dataTables_paginate span.paginate_button,*/
/*div.dataTables_paginate span.paginate_active {*/
    /*border: 1px solid #aaa;*/
    /*-webkit-border-radius: 5px;*/
    /*-moz-border-radius: 5px;*/
    /*padding: 2px 5px;*/
    /*margin: 0 3px;*/
    /*cursor: pointer;*/
    /*cursor: hand;*/
/*}*/

/*div.dataTables_paginate span.paginate_button {*/
    /*background-color: #ddd;*/
/*}*/

/*div.dataTables_paginate span.paginate_button:hover {*/
    /*background-color: #ccc;*/
/*}*/

/*div.dataTables_paginate span.paginate_active {*/
    /*background-color: #99B3FF;*/
/*}*/



.paginate_enabled_previous {
    background: url("../DataTables-1.9.4/media/images/back_enabled.png") top left no-repeat;
    height : 16px;
    width : 16px;
    float : left;
    color : transparent;
}

a.paginate_enabled_previous:hover {
    color: transparent;
}

.paginate_disabled_previous {
    background: url("../DataTables-1.9.4/media/images/back_disabled.png") top left no-repeat;
    height : 16px;
    width : 16px;
    float : left;
    color : transparent;
}

a.paginate_disabled_previous:hover {
    color: transparent;
}

.paginate_enabled_next {
    background: url("../DataTables-1.9.4/media/images/forward_enabled.png") top left no-repeat;
    height : 16px;
    width : 16px;
    float : left;
    color : transparent;    
}

a.paginate_enabled_next:hover {
    color: transparent;
}

.paginate_disabled_next {
    background: url("../DataTables-1.9.4/media/images/forward_disabled.png") top left no-repeat;
    height : 16px;
    width : 16px;
    float : left;
    color : transparent;
}

a.paginate_disabled_next:hover {
    color: transparent;
}

li{
    list-style-type: none;
}

.control .center {
    background: url('../images/open.png') top left no-repeat;
}

.loading {
    background: url('../images/dna_loader.gif') center no-repeat;
    height : 128px;
    width : 128px;
    position: absolute;
    right: 50%;
    top: 50%;
}

.load_txt{
    position: absolute;
    right: 51%;
    top: 70%;
    font-weight: bold;
    font-size: large;
}

/** Bootstrap css add **/
.img-responsive {
    margin: 0 auto;
}
.navbar {
    background: url('../images/pagebg.png') top left repeat-x;
}

.nav-justified {
    margin: 0 auto;
    font-size: 18px;
    color: #222222;
    padding: 15px;
}

.nav-justified:hover {
  text-decoration: none;
  color: white;
  text-shadow: 0 0 1em darkcyan;
}

body{
    background-image: url('../images/pagebg.png');
    background-position: left top;
    background-repeat: repeat;
    background-attachment: fixed;
}

#content {
    background-color: #ffffff;
    max-width: 95%;
    overflow: auto;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

.btn-in-form {
    margin: 0 auto;
    position: relative;
    right: -45%;
}

#getting_started{
    margin-left: 30%;
}

.table{
    margin: 0 auto;
    max-width: 100%;
}

#searchField{
    float: right;
}

.btn-sm{
    margin-right: 3px;
}
